<div class="container">
  <h1>Todo List</h1>

  <%= link_to "タスクを追加する", new_todo_path, class: 'new-task' %>

  <table>
    <thead>
      <tr>
        <th>タスク</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>

      <% @todos.each do |todo| %>
        <tr>
          <td><%= todo.title %></td>
          <td>
            <a class="edit" href="#">編集</a>
            <a class="delete" href="#">削除</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>